body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", serif;
}

.main-design {
    width: 375px;
    height: 1767px;
    border: 1px solid red;
    margin: 0 auto;
    padding: 0 5px;
}

/* header */
.headr {
    width: 375px;
    height: 67px;
    border-bottom: 1px solid #cfcfcf;
    padding-top: 10px;
}

.headr-2 {
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
.logo {
    width: 127px;
    height: 50px;
    opacity: 100%;
}

.user-avatar{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
/*end-of-header*/

/* section */

.post-content {
    margin-top: 7px;
    width: 375px;
    height: 545px;
    border: 1px solid yellow;
    background-color: #FFFFFF;
}

.user-info {
    width: 348px;
    height: 34px;
    border: 1px solid violet;
    margin: 7px 0px 5px 5px;
    display: flex;
    align-items: center; /* Optional: vertically center the child */
    padding-left: 3px;
    padding-top: 3px;
}

.post-content-user-avatar {
    border: 1px solid greenyellow;
    width: 34px;
    height: 34px;
}

.user-metadata{
    display: inline-block;
    padding-left: 3px;
}

.user-fullname {
    width: 307px;   
    height: 16px;
    border: 1px solid brown;  
}

.user-location {
    width: 307px;   
    height: 16px;
    border: 1px solid rgb(215, 166, 166); 
}

h1 {
    font-size: 9px;
    font-weight: 700;
}

h2 {
    font-size: 8px;
    font-weight: 500;
}

.img-desc {
    width: 375px;
    height: 375px;
}

.likes-class {
    display: inline-block;
    border: 1px solid brown;
}

.icons {
    width: 104.34px;
    height: 22.13px;
    border: 1px solid lightsalmon;
    display: flex;
    justify-content: space-around;
}

.icons img {
    height: 18.5px;
    width: 18.5px;
}

h3 {
    margin: 0 0 0 4px;
    font-size: 13px;
    font-weight: 800;
}